* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* banner section styles */
.banner {
    background-image: url("../images/banner/banner2.png");
    width: 100%;
    background-repeat: no-repeat;
}

.banner-title {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 60px;
    margin-left: 700px;
    text-align: right;
    padding-top: 216px;
    padding-right: 187px;
}

.banner-description {
    font-family: 'Work Sans';
    color: #757575;
    font-size: 18px;
    margin-left: 720px;
    text-align: right;
    padding-right: 187px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    text-align: right;
    margin-left: 985px;
    margin-top: 40px;
    margin-bottom: 500px;
}

/* author history section styles */

.author-img {
    margin-left: 120px;
}

.history {
    display: flex;
    align-items: center;
}

.history-description {
    padding-left: 50px;
    padding-top: 65px;
  
}


.history-heading {
    padding-left: 110px;
    font-weight: 700;
    font-size: 40px;

}

.history-blog {
    padding-left: 110px;
    padding-top: 30px;
}


.tick-mark {
    height: 15px;
    width: 15px;
    position: relative;
    margin-left: 5px;
    margin-top: 23px;
}

.top-bottom {
    height: 9px;
    width: 2px;
    background: green;
    transform: rotate(-45deg);
    position: absolute;
    top: 18px;
    left: 11px;
}

.bottom-top {
    height: 17px;
    width: 2px;
    background: green;
    transform: rotate(45deg);
    position: absolute;
    left: 20px;
    top: 10px;

}

.history-point {
    padding-left: 110px;
 
    display:flex;
}

.tick-mark-text{
    display: flex;
    margin-top: 23px;
    padding-left: 48px;
    height: 17px;

}

/* plan section */
section {
    margin-top: 130px;
}
.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    padding: 2px 80px;
    text-align: center;
    justify-content: space-around;
   
}

.skill {
    padding: 30px;
    
}



.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skill-description {
    color: #737272;
}
